%p
  Enter a twitter handle into the search bar below to see how positive or negative their last 50 tweets were.
%form.form-inline{:action => '/search', :method => "get"}
  .form-group
    %label.sr-only{:for => "screen_name"} screen_name
    %input.form-control{:name => "screen_name", :placeholder => "@screen_name", :type => "text"}/
  %button.btn.btn-default{:type => "submit"} Search
