<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- http://getbootstrap.com/
    -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="stylesheet.css" rel="stylesheet"></link>
    <script src="https://www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
    <meta charset="utf-8"/>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>Sentiments</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <img class="header-image" src="sentiments-logo.png"/>
      </div>
      <br>
        <%= yield %>
      </br>
    </div>
  </body>
</html>